head {
  background-color: green;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;  
  background-image: linear-gradient(to right, white , darkgray);
  color: blue;
}

p {
  color: black;
  font-family: verdana;
  font-size: 16px;
}

audio {
  background-color:black;
  border-style:solid;
}

div {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}